<p style="padding: 0 20px"><%= @message %></p>
<p style="padding: 0 20px">User: <%= @user %></p>
<ul>
<%= for %{name: name, uri: uri} <- @structures do %>

  <li>
    <a href="<%= uri %>" style="color: #3b73af; text-decoration: none;">
      <%= name %>
    </a>
  </li>
<% end %>
</ul>
