<p style="padding: 0 20px"><%= @message %></p>
<p style="padding: 0 20px">User: <%= @user %></p>
<ul>
  <li>
    <a href=<%= @group_link %> style="color: #3b73af; text-decoration: none;">
      <%= @group_link %>
    </a>
  </li>
</ul>
